<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMI Project </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;300;400;500&display=swap" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body >
    <div class="main">
        <div class="navbar">
            <div id="brand">reccccords.</div>
            <div class="nav-contents">
                <a href="/">Home</a>
                <a href="/about">About</a>
                
            </div>
        </div>
        <section class="hero" data-aos='fade-in'>
           <h1 data-aos="fade-in" data-aos-delay="400">HMI Project</h1>
           <p  data-aos="fade-in" data-aos-delay="400">A website to list out experiments.</p>
          

        </section>
        <section id="sakshi" class="profile">
            <div class="detail" data-aos="fade-in" data-aos-delay='500'>
                <h1 class="name typewriter">Sakshi Kale</h1>
                <p>Student at Terna Engineering College </p>
                <p style="margin-top: 0.5rem;font-size: small;"><i class='bx bxs-envelope' style='margin-right: 3px;'></i>sakshikale@ternaengg.ac.in</p>
                <p class="bio">
                    <span style="font-size: x-large;">"</span>
                    Creating good looking and intuitive websites has always been my passion. I have worked at NeoDocs as a Full-Stack developer (intern) for four months. Apart from this, my hobbies include singing, playing badminton and boxing.
                    <span style="font-size: x-large;">"</span>
                </p>
                
                <a href="/experiments/?name=sakshi" >View Experiments</a>
            </div>
            <div class="image" data-aos="fade-in">
                <img src="/static/img/Sakshi.png" alt="">

            </div>
        </section>
        <section id="ritik" class="profile">
            <div class="detail" data-aos="fade-in" data-aos-delay='500'>
                <h1 class="name typewriter">Ritik Rahangdale</h1>
                <p>Student at Terna Engineering College </p>
                <p style="margin-top: 0.5rem;font-size: small;"><i class='bx bxs-envelope' style='margin-right: 3px;'></i>ritikrahangdale@ternaengg.ac.in</p>
                <p class="bio">
                    <span style="font-size: x-large;">"</span>
                     I have done technical certifications in Java, SQL and done Internship in Internet Automation and Machine Learning. Other than academic I am Founder of an NGO named Jijivisha Foundation , Secretary of Rotaract Club of Bombay Film City.
                    <span style="font-size: x-large;">"</span>
                </p>
               
                
                <a href="/experiments/?name=ritik" >View Experiments</a>
            </div>
            <div class="image" data-aos="fade-in">
                <img src="/static/img/Ritik.png" alt="">

            </div>
        </section>
        <section id="amresh" class="profile">
            <div class="detail" data-aos="fade-in" data-aos-delay='500'>
                <h1 class="name typewriter">Amresh Yadav</h1>
                <p>Student at Terna Engineering College </p>
                <p style="margin-top: 0.5rem;font-size: small;"><i class='bx bxs-envelope' style='margin-right: 3px;'></i>amreshyadav@ternaengg.ac.in</p>
                <p class="bio">
                    <span style="font-size: x-large;">"</span>
                    I am student of Computer Engineering Department, Sem 8. I 
                    <span style="font-size: x-large;">"</span>
                </p>
               
                
                <a href="/experiments/?name=amresh" >View Experiments</a>
            </div>
            <div class="image" data-aos="fade-in">
                <img src="/static/img/Amresh.jpeg" alt="">

            </div>
        </section>
        <div class="footer ">
            <p>Designed by students of Terna Engineering College</p>
        </div>
    
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src='/static/js/index.js'></script>
</body>
</html>